/* Overrides! */

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "bookmania", Georgia, "Times New Roman", Times, serif !important;
  font-size: 18px;
}

.pure-g [class *= "pure-u"] {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 	"mrs-eaves-roman-small-caps", "bookmania", Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-weight: 400;
  color: rgb(128,0,0);
}

h2 {
  border-bottom: 2px solid rgb(194,174,109);
}

table {
  font-family: "quasimoda", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* New stuff! */

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(61,79,93);
  color: #fff;
}

.sidebar h1 {
  color: #fff;
}

.sidebar a, .sidebar a:visited{
  color: #ccc;
  text-decoration: none !important;
  padding: 11px 8px 5px 8px;
  background-color: rgb(70,90,100);
  line-height: 60px;
  white-space: nowrap;
}

.sidebar a:hover{
  background-color: rgb(90,110,120);
}

.header {
  padding: 0 2em 0;
  text-align: center;
}

.content {
    padding: 1em 3em 0;
    background-color: #eee8e2;
}

@media (min-width: 64em) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .header {
    text-align: right;
  }

  .content {
    position: relative;
    margin-left: 25%;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 64em) {
  .table-scroll {
    display:block;
    overflow-x: auto !important;
  }
}

.columns {
  column-count: 2;
  column-gap: 3em;
}

.columns-span {
  column-span: all;
}

.pure-table td {
    background-color: #fff;
}

.pure-table thead{
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border: none;
    background-color: rgba(240,240,240,0.6) !important;
    font-family: "quasimoda", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #666;
    box-shadow: 2px 12px 80px -12px #000;
    text-transform: uppercase;
}

#topBtn:hover {
    background-color: rgba(220,220,220,0.8) !important; /* Add a dark-grey background on hover */
}