// Import typekit
@import url('https://use.typekit.net/fnw1iwa.css');

// Import variables and functions
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Import custom
@import '_variables';
@import '_typography';

.page {
  &-enter-active,
  &-leave-active {
    transition: 250ms ease-in-out;
  }

  &-enter, &-leave-to /* &-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}

// Import the rest of bulma
@import '~bulma/bulma';

// Manual table settings - markdown-it-attrs doesn't handle tables
.content {
  table {
    width: auto;
    margin: auto;
    max-width: min-content;
    
    th,
    td {
      vertical-align: middle;
    }

    // Dangerous extend
    @extend .table;
    @extend .is-striped;

    @media screen and (max-width: 768px) {
      display: block;
      overflow-x: auto;
    }
  }
}

.page-container {
  margin: 0 0 0 0 !important;
  min-height: 100vh;
}

.content-wrapper {
  position: relative;
  left: 25%;
  width: 75%;
  background-color: rgb(229, 229, 217);

  @media screen and (max-width: 768px) {
    left: 0%;
    width: 100%;
  }
}